<?xml version="1.0" encoding="ISO-8859-1"?>

<venda_detblock>
	<venda_block label=78,invtref1!=giftcert>
		<product id="<venda_invtref1>" name="<venda_encode><venda_invtname1></venda_encode>">
		<venda_inventory ref=<venda_invtref1>,temp=xmlincproductinfo></product>
	</venda_block label=78>
</venda_detblock>

<productlist id="<venda_icatref>" name="<venda_encode><venda_icatname></venda_encode>">
	<list type="products">
		<venda_pagination template=xmlpagination>
		<venda_detail>
	</list>
</productlist>

