<div id="deliverycharge" style="width:463px;clear:both;">
<br>
<venda_block label=intshipping,invtcntrygrpref0!=300>
<a href="http://www.heals.co.uk/page/international_shipping&layout=popups&layout=popups" rel="popup console 740 520" alt="<venda_text id=site.link.title.delivery_charge_from>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/international-delivery-badge.gif" border="0" style="float:right;"></a>
</venda_block label=intshipping>
<venda_block label=7922,invtwunits=Standard><a href="http://www.heals.co.uk/page/parcel_delivery&layout=popups&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/parcel-delivery-badge.gif" border="0"></a></venda_block label=7922>
<venda_block label=7923,invtwunits=Fragile><a href="<venda_dispview page=specialist_delivery>&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/specialist-delivery-badge.gif" border="0"></a></venda_block label=7923>
<venda_block label=7924,invtwunits=Furniture><a href="<venda_dispview page=furniture_delivery>&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/furniture-delivery-badge.gif" border="0"></a></venda_block label=7924>
<br>
<venda_block label=intshipping1,invtcntrygrpref0!=300>
<a href="http://www.heals.co.uk/page/international_shipping&layout=popups&layout=popups" rel="popup console 740 520" alt="<venda_text id=site.link.title.delivery_charge_from>" style="float:right;text-align:right;">
European: 2-5 Working Days £8.95
</a>
</venda_block label=intshipping1>
<venda_block label=9293,invtwunits=Fragile>
<venda_page page=deliverycondition100>
</venda_block label=9293>
<venda_block label=9294,invtwunits=Standard>
<venda_page page=deliverycondition>
</venda_block label=9294>
	<venda_block label=4431,invtsell&gt;999,invtivtype=furniture,operator=and>
		<venda_page page=deliverycondition0>
</venda_block label=4431>
	<venda_block label=4432,invtsell&gt;999,invtivtype=furniturerange,operator=and>
		<venda_page page=deliverycondition0>
</venda_block label=4432>
	<venda_block label=4433,invtsell&lt;1000,invtivtype=furniture,operator=and>
		<venda_page page=deliverycondition50>
</venda_block label=4433>
	<venda_block label=4434,invtsell&lt;1000,invtivtype=furniturerange,operator=and>
		<venda_page page=deliverycondition50>
</venda_block label=4434>
</div>
<br>
<venda_block label=wallpaper,pdxtbrowse=Wallpaper>
<venda_inventory ref=<venda_invtref>,temp=wallpaper-calculator>
<br>
</venda_block label=wallpaper>
<br class="clear-all">

<style>#Right_socialbookmark{display:none;}/* Hide Social bookmark Right Hand Side */ </style>
<!-- Start TAB  -->
<venda_block label=50,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewsproddetail>=1>
<script type="text/javascript">
<venda_inctemplate type=includes,name=powerreviewscripts>
var pr_page_id = '<venda_invtref>'; 
var pr_write_review='<venda_dispview invt=<venda_invtref>>&temp=submitpowerreview&pageId=<venda_invtref>&layout=defaultnocolthree';
var pr_read_review='#readReview';
</script>
</venda_block label=50>