<div class="search-similar">
<ul>
<venda_block label=1922,pdxtbrandtext=notnull>
<div itemscope itemtype="http://schema.org/Organization">
<li id="similarbrand">More from <span itemprop="name"><venda_pdxtbrandtext></span></li>
</div>
</venda_block label=1922>
<venda_block label=1923,pdxtdesignertext=notnull>
<div itemscope itemtype="http://schema.org/Person">
<li id="similarbrand">About <span itemprop="name"><venda_pdxtdesignertext></span></li>
</div>
</venda_block label=1923>

<venda_block label=286,pdxtrange!=,pdxtrange=notnull,operator=or>
<li id="similarbrand">More from <a href="<venda_dispview icat=<venda_invtcatref0>>#!&parentCategoryRef=<venda_invtcatref0>&pdxtrange=<venda_pdxtrange>"><venda_pdxtrange></a></li>
</venda_block label=286>

<venda_block label=287,pdxtbrowse!=,pdxtbrowse=notnull,operator=or>
<li id="similarbrand">More <a href="<venda_dispview icat=<venda_invtcatref0>>?pdxtbrowse=<venda_pdxtbrowse>"><venda_pdxtbrowse></a></li>
</venda_block label=287>

</ul>
</div>