<venda_detblock>
<venda_block label=97,icatname1=notnull>
	<category id="<venda_icatref1>" name="<venda_encode><venda_icatname1></venda_encode>" location="<venda_dispview icat=<venda_icatref1>>">				
		<venda_category rec=icat,ref=<venda_icatref1>,temp=xmlsubcategories>
	</category>
</venda_block label=97>
<venda_block label=98,scatref1=notnull>	
	<category id="<venda_scatref1>" name="<venda_encode><venda_scatname1></venda_encode>" location="<venda_dispview scat=<venda_scatref1>>">				
		<venda_category rec=scat,ref=<venda_scatref1>,temp=xmlsubcategories>
	</category>
</venda_block label=98>
<venda_block label=99,pcatref1=notnull>
	<category id="<venda_pcatref1>" name="<venda_encode><venda_pcatname1></venda_encode>" location="<venda_dispview pcat=<venda_pcatref1>>">				
		<venda_category rec=pcat,ref=<venda_pcatref1>,temp=xmlsubcategories>
	</category>
</venda_block label=99>
</venda_detblock>

<?xml version="1.0" encoding="ISO-8859-1"?>

<venda_block label=100,icatref=notnull>
<category id="<venda_icatref>" name="<venda_encode><venda_icatname></venda_encode>">
	<venda_block label=50,cattot!=>
		<list type="categories">
			<venda_detail>
		</list>
	</venda_block label=50>
</category>
</venda_block label=100>

<venda_block label=101,scatref=notnull>
<category id="<venda_scatref>" name="<venda_encode><venda_scatname></venda_encode>">
	<venda_block label=51,cattot!=>
		<list type="categories">
			<venda_detail>
		</list>
	</venda_block label=51>
</category>
</venda_block label=101>

<venda_block label=102,pcatref=notnull>
<category id="<venda_pcatref>" name="<venda_encode><venda_pcatname></venda_encode>">
	<venda_block label=52,cattot!=>
		<list type="categories">
			<venda_detail>
		</list>
	</venda_block label=52>
</category>
</venda_block label=102>
