<?xml version="1.0" encoding="ISO-8859-1"?>
<story>
<storyref><venda_stryref></storyref>
<storyname><venda_encode><venda_stryname></venda_encode></storyname>
<storyauthor><venda_block stryauthname=null>-</venda_block><venda_block stryauthname=notnull><venda_stryauthname></venda_block></storyauthor>
<dateadded><venda_block stxtdateadded=null>-</venda_block><venda_block stxtdateadded=notnull><venda_stxtdateadded></venda_block></dateadded>
<descriptions>
<storydescription1><venda_block strydesc1=null>-</venda_block><venda_block strydesc1=notnull><venda_encode><venda_strydesc1></venda_encode></venda_block></storydescription1>
<storydescription2><venda_block strydesc2=null>-</venda_block><venda_block strydesc2=notnull><venda_encode><venda_strydesc2></venda_encode></venda_block></storydescription2>
<storydescription3><venda_block strydesc3=null>-</venda_block><venda_block strydesc3=notnull><venda_encode><venda_strydesc3></venda_encode></venda_block></storydescription3>
</descriptions>
<images>
<small><venda_block med-small=null>-</venda_block><venda_block med-small=notnull><venda_media rec=stry,type=pict,key=small,img=no></venda_block></small>
<medium><venda_block med-medium=null>-</venda_block><venda_block med-medium=notnull><venda_media rec=stry,type=pict,key=medium,img=no></venda_block></medium>
<large><venda_block med-large=null>-</venda_block><venda_block med-large=notnull><venda_media rec=stry,type=pict,key=large,img=no></venda_block></large>
</images>
<fullstorylink><venda_encode><venda_dispview stry=<venda_stryref>></venda_encode></fullstorylink>
</story>