<?xml version="1.0" encoding="ISO-8859-1"?>
<categorylist id="<venda_icatref>" name="<venda_encode><venda_icatname></venda_encode>">
<venda_detail>
</categorylist>
<venda_detblock>
<category id="<venda_icatref1>" name="<venda_encode><venda_icatname1></venda_encode>" location="<venda_dispview icat=<venda_icatref1>>">
<venda_detail2>
</category>
</venda_detblock>
<venda_detblock2>
<subcategory id="<venda_icatref1>" name="<venda_encode><venda_icatname1></venda_encode>" location="<venda_dispview icat=<venda_icatref1>>"></subcategory>
</venda_detblock2>