<venda_block label=91,mode=value,<venda_tpxt mode=get,name=md_highlight>=1>
<venda_block label=92,mode=value,<venda_addedmsg msg=addedref>=notnull>
<script type="text/javascript">
highlightAnimStatic = function() {
	<venda_tpcomment>// check first if there is a minicart popup, because we don't need this function if there is</venda_tpcomment>
	if(!document.getElementById('minicart_detail')){
		var elementsStatic = YAHOO.util.Dom.getElementsByClassName('addedsku', 'li');
		var highlightAnimStatic = new YAHOO.util.ColorAnim(elementsStatic, {backgroundColor: { from: '<venda_block label=90,mode=value,<venda_tpxt mode=get,name=md_hightlightbgrstart>!=><venda_tpxt mode=get,name=md_hightlightbgrstart></venda_block label=90><venda_block label=93,mode=value,<venda_tpxt mode=get,name=md_hightlightbgrstart>=>#ccc</venda_block label=93>', to: '<venda_block label=94,mode=value,<venda_tpxt mode=get,name=md_hightlightbgrend>!=><venda_tpxt mode=get,name=md_hightlightbgrend></venda_block label=94><venda_block label=95,mode=value,<venda_tpxt mode=get,name=md_hightlightbgrend>=>#fff</venda_block label=95>' } }, <venda_block label=96,mode=value,<venda_tpxt mode=get,name=md_hightlightduration>!=><venda_tpxt mode=get,name=md_hightlightduration></venda_block label=96><venda_block label=97,mode=value,<venda_tpxt mode=get,name=md_hightlightduration>=>3</venda_block label=97>);
		highlightAnimStatic.animate();
	};
};
YAHOO.util.Event.onDOMReady(highlightAnimStatic);
</script>
</venda_block label=92>
</venda_block label=91>
<venda_tpcomment><!-- The tpxt below is set in main/minicart_detail. The only time this layout is used is when the minicart popup is updated using AJAX. The tpxt condition puts the wrapper div around the static version of the minicart detail so that we can hide it. --></venda_tpcomment>
<venda_block label=70,mode=value,<venda_tpxt mode=get,name=sourcedviapage>!=yes><div id="cartwrapper"></venda_block label=70>
<div class="Lminicart_detail" id="minicart_element">
<venda_block label=14,mode=value,<venda_tpxt mode=get,name=md_h2header>=1><div class="exh2"><span></span><venda_block label=15,mode=value,<venda_tpxt mode=get,name=md_h2tobasket>=1><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"></venda_block label=15><venda_tpxt mode=get,name=md_elementname><venda_block label=16,mode=value,<venda_tpxt mode=get,name=md_h2tobasket>=1></a></venda_block label=16></div></venda_block label=14>

<venda_block label=17,mode=value,<venda_tpxt mode=get,name=md_itemstotaltop>=1><venda_block label=24,mode=value,<venda_tpxt mode=get,name=instore>!=1>
<venda_block label=57,mode=value,<venda_tpxt mode=get,name=md_itemstotal1>=1>
<ul id="minicart_totals"<venda_block label=50,cartitemtotal!=0> class="items_added"</venda_block label=50><venda_block label=51,cartitemtotal=0> class="items_empty"</venda_block label=51>>
	<li class="items"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_tpxt mode=get,name=md_beforecit><span id="updatemdItems"><venda_cartitemtotal></span></a></li>
	<li class="total"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_tpxt mode=get,name=md_beforetotal><span id="updatemdTotal"><venda_total></span></a></li>
</ul>
</venda_block label=57>
<venda_block label=58,mode=value,<venda_tpxt mode=get,name=md_itemstotal2>=1>
<venda_block label=59,mode=value,<venda_tpxt mode=get,name=md_itemstotal1>!=1><venda_tpcomment><!-- This condition ensures that both formats of Items and Total information are not displayed together --></venda_tpcomment>
<ul id="minicart_totals"<venda_block label=80,cartitemtotal!=0> class="items_added"</venda_block label=80><venda_block label=81,cartitemtotal=0> class="items_empty"</venda_block label=81>>
	<li class="items"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_tpxt mode=get,name=md_beforeitemstotal><span id="updatemdItems"><venda_cartitemtotal></span>&nbsp;<venda_tpxt mode=get,name=md_aftertotal><venda_block label=82,cartitemtotal!=1>s</venda_block label=82><venda_tpxt mode=get,name=md_afterunit></a></li>
	<li class="total"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_tpxt mode=get,name=md_beforetotal2><span id="updatemdTotal"><venda_total></span></a></li>
</ul>
</venda_block label=59></venda_block label=58>
</venda_block label=24></venda_block label=17>

<venda_block label=52,cartitemtotal!=0><ul id="minicart_products"><venda_inctemplate name=wz_orsc-minicart,type=includes/wizr></ul></venda_block label=52>
<venda_block label=53,cartitemtotal=0><p><venda_text id=site.empty_basket.basket_is_empty></p></venda_block label=53>

<venda_block label=18,mode=value,<venda_tpxt mode=get,name=md_basketcheckoutbottom>=1><venda_block label=34,mode=value,<venda_tpxt mode=get,name=instore>!=1>
<ul id="minicart_links">
<li class="viewbasket"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_block label=25,mode=value,<venda_tpxt mode=get,name=md_basketbutton>=1><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_minicart_detail_basket.gif" alt="<venda_tpxt mode=get,name=md_yourbasket>"></venda_block label=25><venda_block label=26,mode=value,<venda_tpxt mode=get,name=md_basketbutton>!=1><venda_tpxt mode=get,name=md_basketbutton><venda_tpxt mode=get,name=md_yourbasket></venda_block label=26></a></li>
<li class="checkout">
<venda_block label=11,carttotal!=0>
<venda_block label=46,mode=value,<venda_setting type=ebiz,name=expresscheckout>!=2>
	<venda_block label=100,ustype=R>
		<venda_block label=210,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=confirm&param1=login"></venda_block label=210>
		<venda_block label=211,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login"></venda_block label=211>
	</venda_block label=100>
	<venda_block label=101,ustype!=R><a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login"></venda_block label=101>
	<venda_block label=27,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>=1><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_minicart_detail_checkout.gif" alt="<venda_tpxt mode=get,name=md_checkout>"></venda_block label=27><venda_block label=28,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>!=1><venda_tpxt mode=get,name=md_checkout></venda_block label=28></a>
</venda_block label=46>

<venda_block label=47,mode=value,<venda_setting type=ebiz,name=expresscheckout>=2>
<!-- if using express checkout only -->
<venda_block label=129,mode=value,<venda_setting type=ebiz,name=bypasspclookup>!=1>
<!-- with postcode lookup -->
<a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&step=zipcode&param1=login&log=2&glxt=<venda_glxt mode=make,glxtusertype=p>"><venda_block label=29,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>=1><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_minicart_detail_checkout.gif" alt="<venda_tpxt mode=get,name=md_checkout>"></venda_block label=29><venda_block label=30,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>!=1><venda_tpxt mode=get,name=md_checkout></venda_block label=30></a>
</venda_block label=129>
<venda_block label=130,mode=value,<venda_setting type=ebiz,name=bypasspclookup>=1>
<!-- without postcode lookup -->
<a href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&step=billto&param1=details&log=2&glxt=<venda_glxt mode=make,glxtusertype=p>"><venda_block label=31,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>=1><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_minicart_detail_checkout.gif" alt="<venda_tpxt mode=get,name=md_checkout>"></venda_block label=31><venda_block label=32,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>!=1><venda_tpxt mode=get,name=md_checkout></venda_block label=32></a>
</venda_block label=130>
</venda_block label=47>
</venda_block label=11>
<venda_block label=12,carttotal=0>
<a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_block label=41,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>=1><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_minicart_detail_checkout.gif" alt="<venda_tpxt mode=get,name=md_checkout>"></venda_block label=41><venda_block label=42,mode=value,<venda_tpxt mode=get,name=md_checkoutbutton>!=1><venda_tpxt mode=get,name=md_checkout></venda_block label=42></a>
</venda_block label=12>
</li>
</ul>
</venda_block label=34></venda_block label=18>
</div>
<venda_block label=71,mode=value,<venda_tpxt mode=get,name=sourcedviapage>!=yes></div></venda_block label=71>
