<productinformation>
<sku><venda_invtref></sku>
<name><![CDATA[<venda_invtname>]]></name>
<producttype><venda_invtivtype></producttype>
<brand><![CDATA[<venda_invtbrand>]]></brand>
<dimensions><venda_encode><venda_pdxtdims></venda_encode></dimensions>
<productbrowsetype><venda_encode><venda_pdxtbrowse></venda_encode></productbrowsetype>
</productinformation>
<pricing>
<sellingprice><venda_encode><venda_invtsell></venda_encode></sellingprice>
<msrpprice><venda_encode><venda_invtmsrp></venda_encode></msrpprice>
<wasprice><venda_encode><venda_invtwas></venda_encode></wasprice>
<startqty><venda_invtstartqty1></startqty>
<endqty><venda_invtendqty1></endqty>
</pricing>
<stock>
<releasedate><venda_invtrelease></releasedate>
<stocketadate><venda_invtetadate></stocketadate>
<stocketadaysleft><venda_etadyleft></stocketadaysleft>
<onhand><venda_invtonhand></onhand>
<attributesinstock><venda_invtatrinstock></attributesinstock>
<preorder><venda_invtpreorder></preorder>
<published><venda_invtpublish></published>
</stock>
<images>
<thumb><venda_block med-thumb=null></venda_block><venda_block med-thumb=notnull><venda_media rec=invt,type=pict,key=thumb,img=no></venda_block></thumb>
<small><venda_block med-small=null></venda_block><venda_block med-small=notnull><venda_media rec=invt,type=pict,key=small,img=no></venda_block></small>
<xsmall><venda_block med-xsmall=null></venda_block><venda_block med-xsmall=notnull><venda_media rec=invt,type=pict,key=xsmall,img=no></venda_block></xsmall>
<medium><venda_block med-medium=null></venda_block><venda_block med-medium=notnull><venda_media rec=invt,type=pict,key=medium,img=no></venda_block></medium>
<large><venda_block med-large=null></venda_block><venda_block med-large=notnull><venda_media rec=invt,type=pict,key=large,img=no></venda_block></large>
</images>
<descriptions>
<description1>
<venda_block invtdesc1=notnull><![CDATA[<venda_invtdesc1>]]></venda_block>
</description1>
<description2>
<venda_block invtdesc2=notnull><![CDATA[<venda_invtdesc2>]]></venda_block>
</description2>
<description3>
<venda_block invtdesc3=notnull><![CDATA[<venda_invtdesc3>]]></venda_block>
</description3>
<description4>
<venda_block invtdesc4=notnull><![CDATA[<venda_invtdesc4>]]></venda_block>
</description4>
</descriptions>
<deliveryweightinformation>
<weight><venda_invtweight></weight>
<weightunits><venda_invtwunits></weightunits>
<additionaldeliverycost><venda_invtshpcost></additionaldeliverycost>
<volume><venda_invtvolume></volume>
</deliveryweightinformation>
<addtobasketparams>
<bsref><venda_bsref></bsref>
<log>22</log>
<mode>add</mode>
<curpage></curpage>
<next></next>
<layout></layout>
<ex>co_disp-shopc</ex>
<buy><venda_invtref></buy>
<invt><venda_invtref></invt>
<htxt><venda_htxt mode=make,fcmtrack=<venda_invtref>|<venda_invtname>|1|<venda_invtsell>|<venda_invtcatref0>></htxt>
<qty>1</qty>
</addtobasketparams>
<buynowparams>
<bsref><venda_bsref></bsref>
<log>22</log>
<mode>add</mode>
<curpage></curpage>
<next></next>
<layout></layout>
<ex>co_wizr-shopcart</ex>
<ivref><venda_invtref></ivref>
<htxt><venda_htxt mode=make,fcmtrack=<venda_invtref>|<venda_invtname>|1|<venda_invtsell>|<venda_invtcatref0>></htxt>
<qty>1</qty>
</buynowparams>